body {
  width: 100%;
  content: center;
  position: relative;
  margin-left: 10%;
  margin-right: 10%;
}
header > h1 {
  font-family: lato;
  font-weight: 100;
  color: white;
  font-size: 143px;
  margin-left: 130px;
  display: inline-block;
  line-height: .8;
  z-index: 5;
  width: 50px;
  margin-bottom: 158px;
  margin-top: 10px;
  position: relative;
}
article:first-of-type {
  width: 390px;
  background-color: #cdc9dd;
  margin: -444px 0 -16px -7px;
  height: 637px;
  padding-bottom: 16px;
}
article:first-of-type img {
  width: 270px;
  margin: 250px 0 0 30px;
}
article:first-of-type h1 {
  margin-left: 180px;
  font-family: lora;
  font-style: bold italic;
  color: #5f5d66;
}
article:first-of-type section {
  margin-top: -15px;
  margin-left: 128px;
  width: 208px;
  font-family: lato;
  text-align: center;
  color: #6e6c77;
  font-size: 12px;
}
article:nth-child(3) {
  position: absolute;
  top: 63px;
  left: 271px;
}
article:nth-child(3) h1, p {
  color: #fdcd84;
}
article:nth-child(3) p {
  margin-top: -138px;
  margin-left: 149px;
  z-index: 10;
  font-size: 12px;
  letter-spacing: 2px;
}
article:nth-child(3) h1 {
  font-family: oswald;
  margin-left: 149px;
  letter-spacing: 2px;
  font-size: 35px;
  width: 30px;
  margin-top: 7px;
  line-height: 1.2;
}
article:nth-child(3) > figure > img {
  height: 410px;
}
article:nth-child(3) > section {
  font-family: merriweather;
  font-weight: 300;
  width: 400px;
  margin-left: 149px;
  margin-top: -17px;
}
article:nth-child(4) {
  float: left;
  margin-top: 75px;
  margin-left: 107px;
}
article:nth-child(4) > h1 {
    color: #247a5a;
    font-family: oswald;
    margin-bottom: 5px;
    font-size: 18px;
    width: 115px;
    text-align: right;
}
article:nth-child(4) > section {
  font-family: lato;
  font-size: 11.5px;
  line-height: 1.3;
  text-align: right;
  width: 115px;
}
article:nth-child(4) > figure > img {
  height: 125px;
  margin-left: -36px;
}
article:nth-child(5) {
  margin-top: 109px;
  float: left;
  margin-bottom: -91px;
}
.bullet_header {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-top: 8px;
  padding-bottom: 8px;
  text-align: center;
}
article:nth-child(5) > figure > img {
  height: 190px;
}
article:nth-child(5) h1 {
  color: #c4a574;
  font-family: oswald;
  font-size: 16px;
  display: inline;
}
article:nth-child(5) h3 {
  color: #e0c167;
  font-family: lato;
  font-size: 10px;
  text-align: center;
  display: inline;
  vertical-align: text-top;
}
article:nth-child(5) ul {
  margin-left: -65px;
    padding: 0;
    height: 120px;
    top: -92px;
    position: relative;
    z-index: -1;
    right: -77px;
}
article:nth-child(5) ul li {
    list-style-type: none;
    font-family: oswald;
    color: #e0e0e0;
    float: left;
    margin-top: 52px;
    padding-right: 16px;
    width: 95px;
}
.bullet-one {
  width: 95px;
}
.bullet-two {
  width: 95px;
}
.bullet-three {
  width: 95px;
  padding-top: 31px;
}
.bullet-four {
  width: 95px;
}
.bullet-five {
  width: 95px;
}
.bullet-large-text {
  font-size: 57px;
  line-height: 57px;
}
.bullet-med-text {
  font-size: 51px;
  line-height: 51px;
}
.bullet-small-text {
  font-size: 20px;
  line-height: 1;
}
.brand-small {
  font-size: 18px;
}
.large-list {
  font-size: 25px;
  line-height: 25px;
}
article:nth-child(6) {
  margin-top: 464px;
  background-color: #524741;
  padding-top: 6px;
  font-weight: 100;
  text-align: center;
  width: 730px;
  margin-left: 111px;
  font-size: 32px;
  height: 750px;
}
article:nth-child(6) > h1 {
  color: white;
  font-family: oswald;
  font-size: 35px;
}
.abbeyroad {
  height: 477px;
  margin-left: -39px;
}
article:nth-child(6) > section {
  font-family: merriweather;
  font-weight: 300;
  color: white;
  font-size: 16px;
  margin: -19px 23px 21px 23px;
  text-align: left;
}
article:nth-child(6) > aside {
  text-align: left;
  margin-left: 23px;
  font-size: 15px;
  color: lightgray;
}
.map {
  height: 94px;
  float: right;
  margin-top: -134px;
  z-index: 3;
  position: relative;
  margin-right: -40px;
}
article:nth-child(7) {
  margin-left: 120px;
  position: relative;
  float: left;
}
article:nth-child(7) > figure > img {
  width: 579px;
  margin-left: -90px;
  margin-top: -119px;
  z-index: -1;
  position: relative;
}
article:nth-child(7) > section {
  width: 496px;
  font-family: merriweather;
  font-weight: 200;
  font-size: 14.5px;
}
article:nth-child(7) > h1 {
  font-family: oswald;
  font-size: 58px;
  font-weight: 200;
  border-bottom: 12px solid black;
  width: 496px;
  margin-top: -31px;
}
article:nth-child(7) > h3 {
  font-family: oswald;
  margin-top: -45px;
  margin-bottom: 14px;
  font-size: 27.1px;
  border-bottom: 3px solid black;
  width: 496px;
  line-height: 67px;
}
article:nth-child(8) {
  font-family: oswald;
  width: 196px;
  background-color: #3a83bb;
  display: inline-block;
  margin-left: -44px;
  color: white;
  text-align: center;
  height: 528px;
}
article:nth-child(8) > figure > img {
  height: 246px;
  margin-left: -41px;
  margin-top: -54px;
}
article:nth-child(8) > h1 {
  font-size: 27px;
  margin-top: -62px;
  line-height: 9px;
}
article:nth-child(8) > h3 {
  font-size: 18px;
  margin-top: -23px;
  border-bottom: 5px solid lightblue;
  line-height: 46px;
}
article:nth-child(8) > p {
  color: white;
  font-family: lora;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  margin-left: 15px;
  margin-right: 10px;
}
.dashedbordertop {
	border-top: 3px dashed #234f70;
}
.dashedborderbottom {
	margin-top: 99px;
	border-bottom: 3px dashed #234f70;
}
.rottentomato {
	width: 100%;
	border-top: 5px solid #3476a8;
	border-bottom: 5px solid #3476a8;
	float: left;
}
.rottentomato > p:first-child {
	margin: 5px;
	float: left;
  font-size: 12.2px;
  line-height: 23px;
	color: #75a8d0;
}
.rottenrating {
  font-size: 27.2px;
}
.rottenpercentage {
	float: left;
	margin: 0;
  font-size: 44px;
	color: white;
}
.rottenratingbar {
	margin-left: 15px;
	margin-bottom: 10px;
	padding: 2px;
	margin-top: 70px;
	width: 80%;
	height: 5px;
	background-color: #619cc9;
}
.rottenratingbar > span {
	display: block;
	width: 40%;
	height: 100%;
	background-color: white;
}
.worldpremiere {
	float: left;
	font-family: oswald;
}
.worldpremiere > p:nth-child(odd) {
	color: #75a8d0;
}
.worldpremiere > p:nth-child(even) {
	color: white;
}
article:nth-child(9) {
  width: 730px;
  overflow: visible;
  margin-left: 55px;
  margin-top: -66px;
  z-index: 2;
  padding-bottom: 35px;
}
article:nth-child(9) > figure {
  height: 110px;
}
article:nth-child(9) > figure > img {
  height: 300px;
}
article:nth-child(9) > p {
  font-size: 13px;
  font-family: lora;
  font-style: italic;
  color: #5e6c74;
  width: 550px;
}
.overflow-one {
  -webkit-transform: rotate(1.5deg);
  -moz-transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  text-align: right;
  margin-left: 235px;
  padding-top: 15px;
}
.overflow-two {
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  text-align: left;
  margin-left: 70px;
  padding-top: 10px;

}
.overflow-three {
  -webkit-transform: rotate(1.5deg);
  -moz-transform: rotate(1.5deg);
  -ms-transform: rotate(1.5deg);
  -o-transform: rotate(1.5deg);
  margin-left: 140px;
  padding-top: 10px;
}
footer {
  width: 730px;
  display: inline-block;
  margin-left: 125px;
  border-top: 1px solid lightgray;
}
.footer-issue {
  display: inline-block;
  color: gray;
  font-family: lato;
  font-weight: 300;
}
.footer-address {
  float: right;
  text-align: right;
  color: gray;
  font-family: merriweather;
  font-size: 12px;
  font-weight: 100;
}
.footer-bold {
  font-weight: 600;
  color: gray;
}
form {
  width: 236px;
  position: fixed;
  bottom: 12px;
  right: 12px;
  border: 1px;
  border-radius: 10px;
  background: -webkit-linear-gradient(left top, violet , #619cc9);
  background: -o-linear-gradient(bottom right, violet, #619cc9);
  background: -moz-linear-gradient(bottom right, violet, #619cc9);
  background: linear-gradient(to bottom right, violet , #619cc9);
  padding: 0 0px 5px 14px;
  line-height: 23px;
  font-size: 12px;
}
form > h1 {
  margin: 12px 12px;
}
.registration-submit {
  background: violet;
  border-radius: 18px;
  line-height: 1.5;
}
.registration-submit:hover {
  background: aqua;
}


